<div class="exam-component">
  <ng-container *ngIf="!isExamFinished">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="examReactiveForm"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card
        *ngFor="let item of questionArray; let i = index"
        class="each-question"
      >
        <div class="question">{{ i + 1 }}. {{ item.question }}</div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="selectedAnswer"
          (change)="answerSubmited(item.answer, i)"
        >
          <div fxLayout="row" fxLayoutGap="50px">
            <mat-radio-button [value]="item.option1">{{
              item.option1
            }}</mat-radio-button>
            <mat-radio-button [value]="item.option2">{{
              item.option2
            }}</mat-radio-button>
          </div>

          <div fxLayout="row" fxLayoutGap="50px">
            <mat-radio-button [value]="item.option3">{{
              item.option3
            }}</mat-radio-button>
            <mat-radio-button [value]="item.option4">{{
              item.option4
            }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </mat-card>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form></ng-container
  >
  <ng-container *ngIf="isExamFinished">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="margin-top: 50px"
    >
      <mat-card class="each-question">
        <h1>You have scored {{ totalCorrect }} out of {{ totalQuestions }}.</h1>
        <div style="font-size: 15px">
          Total Correct Answers: {{ totalCorrect }}
        </div>
        <div style="font-size: 15px">
          Total Wrong Answers : {{ totalWrong }}
        </div>
        <div style="font-size: 15px">
          Total Unattended : {{ totalUnattended }}
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
